h1{
    text-align: center;
    color:red
}
.foto{
    display: block;
    margin: 0px auto;
    height: 500px;
}

.btred{
    border: none;
    color: red;
    margin-left: 400px;
    margin-right: 300px;
    height: 35px;

}
.btblue{
    border:none;
    color: blue;
    height: 35px;
}
.aaa{
    display: flex;
    flex-direction: row;
    height: 50px;
}
.gitfoto{
    height: 100px;
    width: 100px;
}
.texto1{
    text-align: center;
    color: red;
}
.texto2{
    text-align: center;
    color: blue;
}
.ironman{
    display: block;
    margin: 0px auto;
    height: 500px;

}
.capitãofoto{
    display: block;
    margin: 0px auto;
    height: 500px;
}
.tabelairon{
    margin-left: 310px;
}
.tabelacap{
    margin-left: 310px;
}